{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header>{% include './navbar.html' %}</header>

    <div>
        <div class="container">
            <div class="p-2 m-4 bg-dark text-white opacity-50">
                <h1 class="text-center">Conoce sobre nosotros</h1>
            </div>
            <div class="row p-4">
                <div class="col p-4">
                    <p class="text-break">En este apartado encontraremos la informacion sobre la empresa y toda su documentacion que soporte el producto a vender</p>
                </div>
            </div>
        </div>
    </div>

    <footer>{% include './footer.html' %}</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>