{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar app</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="{% static "lib/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css" %}">
</head>

<body>
    
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <h1 class="navbar-brand">titulo</h1>
            </div>
        </nav>
        <div>

        </div>
    </header>
    <main>
        <div class="row" id="row-1">

        </div>
        <div class="row" id="row-2">
            
        </div>
        <div class="row" id="row-3">
            
        </div>
        <div class="row" id="row-4">
            
        </div>
        <div class="row" id="row-5">
            
        </div>
        <div class="row" id="row-6">
            
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>