{% load static %}
<body>
    <!--prueba-->
    <div class="container">
        <div class="row p-4 ">
            <div class="col p-4">
                <div class="card text-center" id="campanario" style="width: 18rem;">
                    <img src="{% static "img/estadisticas.jpeg" %}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body text-dark">
                      <h5 class="card-title">CAMPANARIO</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a type="submit" class="btn btn-outline-success" href="campanario/" style="border-radius: 20px;">Vamos allá</a>
                    </div>
                </div> 
            </div>
            <div class="col p-4">
                <div class="card text-center" id="estacion" style="width: 18rem;">
                    <img src="{% static "img/estadisticas.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <h5 class="card-title">LA ESTACION</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a type="submit" class="btn btn-outline-success" href="estacion/" style="border-radius: 20px;">Vamos allá</a>
                    </div>
                </div>
                  
            </div>
            <div class="col p-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{% static "img/estadisticas.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <h5 class="card-title">APROTEC S.A.S</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a type="submit" class="btn btn-outline-success" href="aprotec/" style="border-radius: 20px;">Vamos allá</a>
                    </div>
                </div>
            </div>
            <div class="col p-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{% static "img/estadisticas.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <h5 class="card-title">ENERGIA SOLAR S.A.S</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a type="submit" class="btn btn-outline-success" href="energiaSolar/" style="border-radius: 20px;">Vamos allá</a>
                    </div>
                </div>
            </div>
            <div class="col p-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{% static "img/estadisticas.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <h5 class="card-title">SUNNY FUTURE COLOMBIA</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a type="submit" class="btn btn-outline-success" href="sunnyFuture/" style="border-radius: 20px;">Vamos allá</a>
                    </div>
                </div>
            </div>
            <div class="col p-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="{% static "img/estadisticas.jpeg" %}" class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                      <h5 class="card-title">SOLAR INTEGRAL</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a type="submit" class="btn btn-outline-success" href="integral/" style="border-radius: 20px;">Vamos allá</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>