{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar app</title>
    <link rel="stylesheet" href="{% static " css/style.css" %}">
    <link rel="stylesheet" href="{% static "lib/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css" %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 p-a">
                <div class="card">
                    <h2 class="text-center">Edicion de Registro</h2>
                    <form action="/editarPersona/" method="POST">{% csrf_token %}
                        <div class="form-group p-2">
                            <input type="number" id="Documento" name="txtDocumento"  value="{{PERSONA.documento}}" class="form-control"
                                placeholder="Documento" minlength="5" maxlength="30" readonly required>
                        </div>
                        <div class="form-group p-2">
                            <input type="text" id="txtNombre" name="txtNombre" value="{{PERSONA.nombre}}" class="form-control" placeholder="Nombre"
                                minlength="5" maxlength="30" required>
                        </div>
                        <div class="form-group p-2">
                            <input type="text" id="txtCorreo" name="txtCorreo" value="{{PERSONA.correo}}" class="form-control" placeholder="Correo"
                                minlength="5" maxlength="30" required>
                        </div>
                        <div class="form-group p-2">
                            <button type="submit" class="btn btn-success ">GUARDAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>