{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static " css/style.css" %}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 p-a">
                <div class="card">
                    <h2 class="text-center">Edicion de Registro</h2>
                    <form action="/editarPersona/" method="POST">{% csrf_token %}
                        <div class="form-group p-2">
                            <input type="number" id="Documento" name="txtDocumento"  value="{{PERSONA.documento}}" class="form-control"
                                placeholder="Documento" minlength="5" maxlength="30" readonly required>
                        </div>
                        <div class="form-group p-2">
                            <input type="text" id="txtNombre" name="txtNombre" value="{{PERSONA.nombre}}" class="form-control" placeholder="Nombre"
                                minlength="5" maxlength="30" required>
                        </div>
                        <div class="form-group p-2">
                            <input type="text" id="txtCorreo" name="txtCorreo" value="{{PERSONA.correo}}" class="form-control" placeholder="Correo"
                                minlength="5" maxlength="30" required>
                        </div>
                        <div class="form-group p-2">
                            <button type="submit" class="btn btn-success ">GUARDAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>