{% load static %}
<footer class="bg-dark p-5">
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col">
                <div class="text-light text-center">
                    <h4>SOLAR APP</h4>
                </div>
                <div class="row justify-content-center">
                    <div class="text-light text-center">
                        <p class="text-light">
                            <a href="aboutUs/" class="text-light px-2">About us</a>
                            <a href="#" class="text-light px-2">Privacy Policy</a>
                            <a href="#" class="text-light px-2">Terms of Use</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>