{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solar app</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "lib/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css" %}">
  </head>
  <body>
      <header>{% include './navbar.html' %}</header>
      <div>{% include './searchbar.html' %}</div>
      <div>
          {% include './cards.html' %}
        </div>

      <footer>{% include './footer.html' %}</footer>
    </body>
</html>